body {
  width: 100%;
  height: 100%;
  background-position: center;
}

#wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c0d7ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3cddf), color-stop(#c0d7ed), color-stop(#f1e398), to(#e3cddf));
  background: linear-gradient(180deg, #e3cddf, #c0d7ed, #f1e398, #e3cddf);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 300s ease-in-out infinite;
  animation: AnimationName 300s ease-in-out infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.4;
  color: #557ec9;
  padding: 0px 30px 20px 30px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background: none;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:active, .collapsible:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collapsible .material-icons {
  font-size: 30px;
  font-weight: 900;
}

.collapsible span,
.collapsible h2 {
  line-height: 1.4;
  color: #557ec9;
  font-size: 30px;
}

.collapsible span:active, .collapsible span:focus,
.collapsible h2:active,
.collapsible h2:focus {
  -webkit-box-shadow: 0 0 8px #8ebadf;
          box-shadow: 0 0 8px #8ebadf;
}

.subtitle {
  background: none;
  font-size: 26px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

ol > li {
  list-style-type: number;
}

ul > li {
  list-style-type: disc;
}

header,
main,
footer {
  padding: 10px 30px 10px 30px;
  width: 100%;
  height: 100%;
  background-position: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  background-color: #e3cddf;
  color: #80afdf;
  background: linear-gradient(179deg, #f1e398, #e3cddf, #b9c8d6, #f1e398);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 200s ease infinite;
  animation: AnimationName 200s ease infinite;
}

h1 {
  font-size: 200%;
  background-color: rgba(231, 239, 250, 0.25);
  padding: 2px 2px 2px 10px;
}

h2 {
  margin: 2% 0;
  font-size: 150%;
  background-color: rgba(231, 239, 250, 0.25);
  padding: 2px 2px 2px 10px;
}

.images h3 {
  text-align: center;
}

.first-letter {
  font-size: 120%;
  background-color: rgba(142, 186, 223, 0.25);
  padding: 2px 2px 2px 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
}

nav a,
footer a {
  color: #80afdf;
  font-weight: bold;
  text-decoration: none;
}

a {
  color: #80afdf;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

nav a i {
  vertical-align: bottom;
  padding: 4px 4px 0 0;
}

header:hover,
nav a:hover,
h2:hover,
span:hover,
a:hover,
i:hover {
  color: #6a96a3;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 1200px;
}

.images-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.images {
  max-width: 800px;
  width: 400px;
  margin: 25px 10px 10px 10px;
  text-align: center;
}

.images a {
  margin-bottom: 20px;
}

.images img {
  width: 100%;
  border: 15px solid rgba(142, 186, 223, 0.25);
  height: 83%;
}

section {
  background-color: rgba(164, 203, 235, 0.25);
}

section > section {
  margin-bottom: 50px;
}

section p {
  margin: 2% 0;
  font-size: 110%;
}

section ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

form {
  text-align: center;
}

form h3 {
  font-size: 120%;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

input {
  width: 100%;
  max-width: 100%;
  background-color: #f7cfd5;
  border-style: none;
  color: 80afdf;
  cursor: pointer;
  margin-bottom: 10px;
}

input,
select {
  outline: none;
  background-color: pink;
  border-style: none;
  color: #80afdf;
}

input:hover,
.checkbox:hover,
select:hover,
button:hover {
  -webkit-box-shadow: 0 0 8px #8ebadf;
          box-shadow: 0 0 8px #8ebadf;
}

input:focus {
  border-right-width: 5px;
}

input:placeholder-shown {
  border-style: none;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row select {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin-left: 2%;
}

.flex-row input {
  margin-right: 2%;
}

.checkbox:checked + label {
  color: #999999;
  font-style: italic;
  margin-left: 10px;
  font-size: 90%;
}

.checkbox:checked + label::after {
  content: ' (thanks!)';
}

img {
  opacity: 0.9;
  margin-top: 5px;
  border: 15px solid rgba(142, 186, 223, 0.25);
}

aside {
  width: 200px;
}

img:hover {
  opacity: 1;
}

.profile-image {
  width: 30%;
  max-width: 30%;
  text-align: center;
}

.hero-image {
  width: 100%;
  max-width: 100%;
  margin: 10px;
}

.hero-image > h3 {
  font-size: 160%;
}

.sidekick-image > h3 {
  font-size: 130%;
}

.hero-image img {
  width: 100%;
  max-width: 100%;
  margin: 10px;
  border: 15px solid rgba(142, 186, 223, 0.25);
}

.sidekick-image {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  max-width: 50%;
}

.baby-image {
  max-width: 30%;
}

.big-icon {
  font-size: 300% !important;
  color: #80afdf;
  font-weight: bold;
  text-decoration: none;
  padding-top: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(231, 239, 250, 0.25);
  color: #80afdf;
  padding-bottom: 100px;
}

footer h1 {
  padding-bottom: 20px;
  font-size: 60px !important;
}

footer h1:hover {
  color: #fff;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 900px) {
  .sidekick-image,
  .baby-image {
    max-width: 100%;
    width: 100%;
  }
  .profile-image {
    max-width: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  h3,
  p {
    font-size: 19px;
  }
  header a {
    font-size: 150%;
  }
  header .first-letter {
    line-height: 1.8;
  }
  .profile-image {
    max-width: 100%;
    width: 100%;
  }
  .images img {
    height: 70%;
  }
  nav a i {
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=style.css.map */